<div class="card w-96 bg-primary text-primary-content">
  <div class="card-body">
    <h2 class="card-title">Add New Expense</h2>
    <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
      <ejs-textbox
        placeholder="Expense Title"
        floatLabelType="Auto"
        formControlName="expenseName"
        class="w-full"
      ></ejs-textbox>
      <ejs-numerictextbox
        placeholder="Expense Amount"
        floatLabelType="Auto"
        class="w-full"
        min="1"
        format="#"
        formControlName="expenseAmount"
      ></ejs-numerictextbox>
      <ejs-numerictextbox
        placeholder="Expense Quantity"
        floatLabelType="Auto"
        class="w-full"
        min="0"
        format="#"
        formControlName="expenseQuantity"
      ></ejs-numerictextbox>
      <ejs-numerictextbox
        placeholder="Expense Unit Price"
        floatLabelType="Auto"
        class="w-full"
        min="0"
        format="#"
        formControlName="expenseUnitPrice"
      ></ejs-numerictextbox>
      <ejs-datetimepicker
        placeholder="Expense Date"
        floatLabelType="Auto"
        class="w-full"
        formControlName="expenseDate"
      ></ejs-datetimepicker>
      <ejs-dropdownlist
        floatLabelType="Auto"
        formControlName="expenseCategory"
        id="games"
        #sample
        [dataSource]="expenseCategoryList"
        (change)="onChange($event)"
        [value]=""
        [fields]="fields"
        [placeholder]="waterMark"
        [popupHeight]="height"
      ></ejs-dropdownlist>
      <button
        type="submit"
        [disabled]="!checkValidity()"
        class="btn btn-sm btn-info"
      >
        Submit
      </button>
    </form>
  </div>
</div>
