<div
  id="container"
  class="container mx-auto h-screen flex justify-center items-center"
>
  <div class="card w-96 bg-primary text-primary-content">
    <div class="card-body">
      <h2 class="card-title">Login</h2>
      <form (ngSubmit)="onSubmit()"></form>
      <label class="input input-bordered flex items-center mb-2">
        <input
          [(ngModel)]="loginObj.email"
          type="text"
          class="grow text-white"
          placeholder="Email"
        />
      </label>
      <label class="input input-bordered flex items-center mb-2">
        <input
          [(ngModel)]="loginObj.password"
          type="password"
          class="grow text-white"
          value="password"
          placeholder="Password"
        />
      </label>
      <button
        [disabled]="loading"
        (click)="onSubmit()"
        type="submit"
        class="btn btn-sm btn-info"
      >
        Submit
      </button>
    </div>
  </div>
</div>
