<div class="flex-col md:flex gap-4">
  <div class="w-full bg-white p-4 card">
    <select class="select select-secondary" (change)="onMonthChange($event)">
      <option disabled selected value="">Pick a month</option>
      <option value="1">January</option>
      <option value="2">February</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">August</option>
      <option value="9">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
    <ejs-accumulationchart
      #piechart
      id="chart-container"
      [legendSettings]="legendSettings"
      [tooltip]="tooltip"
      (tooltipRender)="tooltipRender($event)"
      [title]="title"
    >
      <e-accumulation-series-collection>
        <e-accumulation-series
          radius="70%"
          [dataSource]="piedata"
          [dataLabel]="datalabel"
          xName="x"
          yName="y"
        ></e-accumulation-series>
      </e-accumulation-series-collection>
    </ejs-accumulationchart>
  </div>
  <div class="w-full bg-slate-50 p-4 card">
    <ejs-chart
      id="bar-chart-container"
      [primaryXAxis]="primaryXAxis"
      [primaryYAxis]="primaryYAxis"
      [title]="barChartTitle"
    >
      <e-series-collection>
        <e-series
          [dataSource]="barChartData"
          type="Column"
          xName="x"
          yName="y"
          name="India"
        ></e-series>
      </e-series-collection>
    </ejs-chart>
  </div>
</div>
